# Rappel Python

## variables & Types de données

In [1]:
days = 365

In [2]:
number_days = 365

In [3]:
days_1 = 365

In [4]:
days_2 = 366

In [5]:
number_days

365

In [6]:
print(number_days)

365

In [7]:
france = 123

In [8]:
print(type(france))

<class 'int'>

In [11]:
# float - nombres à virgules

data_float = 122.5
print(type(data_float))

<class 'float'>

In [12]:
# string 
hello = 'hello'
print(type(hello))

<class 'str'>

In [13]:
# conversion fonction srt() et int 
str_int = "2"
print(type(str_int))

<class 'str'>

In [14]:
str_int = int(str_int)
print(type(str_int))

<class 'int'>

In [17]:
somme = 95 + 15
print(somme)

110

In [18]:
pow = somme**2
print(pow)

12100

## listes & dictionnaires

In [19]:
months = []

In [20]:
# methode list.append()

months.append("janvier")
months.append("fevrier")

In [23]:
print(months)

['janvier', 'fevrier', 1]

In [24]:
months.append(5)

In [25]:
print(months)

['janvier', 'fevrier', 1, 5]

In [26]:
years = [2013, 2014, 2015, 2016, 2017, 2018]

In [27]:
first_value = years[0]

In [28]:
print(first_value)

2013

In [29]:
years[3]

2016

In [30]:
years [0:3]

[2013, 2014, 2015]

In [31]:
len(years)

6

In [32]:
scores = {}

In [34]:
animals = {
    "poule": 120,
    "chèvres": 50,
    "vache": 15
}

In [35]:
print(animals)

{'poule': 120, 'chèvres': 50, 'vache': 15}

In [36]:
animals["poule"] = 500
animals

{'poule': 500, 'chèvres': 50, 'vache': 15}

In [37]:
animals["lion"] = 6

In [38]:
animals

{'poule': 500, 'chèvres': 50, 'vache': 15, 'lion': 6}

In [39]:
animals["vache"]

15

## condition IF/ELSE

In [40]:
age = 29

In [45]:
if age > 34 :
    print(age)
else : 
    print('interdit pour toi')

interdit pour toi

## Boucle for

In [46]:
cities = ['paris', 'madrid', 'rome']

In [52]:
for city in cities : 
    print(city)

paris
madrid
rome

In [53]:
fruits = ['citron', 'banane', 'pomme', 'banane', 'pomme', 'banane', 'pomme']

In [54]:
fruits_counts = {}

In [55]:
for item in fruits:
    if item in fruits_counts :
        fruits_counts[item] +=1
    else :
        fruits_counts[item] = 1

In [56]:
print(fruits_counts)

{'citron': 1, 'banane': 3, 'pomme': 3}

## Fontions

In [57]:
def ton_age(age):
    if age >= 60 :
        return('agé')
    else :
        return('jeune')

In [59]:
ton_age(75)

'agé'

In [60]:
ton_age(35)

'jeune'

In [61]:
def listin(dict):
    liste = []
    for d in dict:
        if dict[d] > 10:
            liste.append(d)
    return liste

In [62]:
notes = {
    'tom' : 12,
    'nina' : 15,
    'toto' : 8,
    'tibo' : 9,
    'julie' : 18
    
}

In [63]:
listin(notes)

['tom', 'nina', 'julie']