# Découverte de Numpy

## Introduction à Numpy

In [4]:
List_of_list = [["paris", 75], ["lyon", 69]]

### Avantages des listes python:
* peuvent contenir différentes types de données 
* peuvent rétrécir et grandir dynamiquement

In [5]:
list = [1, "film", 3]

In [6]:
list.append("serie")
print(list)

[1, 'film', 3, 'serie']

### Inconvénients des listes Python:
* consomment beaucoup d'énergies
* problématiques pour des datasets de moyenne à très grande taille

## les tabeaux avec Numpy

ndarray

In [7]:
import numpy as np

In [8]:
vector = np.array([3, 4, 17, 65])

In [9]:
print(vector)

[ 3  4 17 65]

In [10]:
matrix = np.array([[2, 15, 12], [20, 60, 35], [39, 85, 14]])

In [11]:
print(matrix)

[[ 2 15 12]
 [20 60 35]
 [39 85 14]]

In [12]:
import numpy as np
vector = np.array([10, 20, 30])
matrix = np.array([[5, 10, 15], [20, 25, 30], [35, 40, 45]])

In [13]:
print(vector)

[10 20 30]

In [14]:
print(matrix)

[[ 5 10 15]
 [20 25 30]
 [35 40 45]]

# taille d'un tableau

In [15]:
np.array(['1958', 'wester pacific', 'viet Nam', 'Wine', '0'])

array(['1958', 'wester pacific', 'viet Nam', 'Wine', '0'], dtype='<U14')

In [16]:
np.array([['1958', 'wester pacific', 'viet Nam', 'Wine', '0'], ['1900', 'wester pacific', 'viet Nam', 'Wine', '0'], ['1977', 'wester pacific', 'viet Nam', 'Wine', '0']])

array([['1958', 'wester pacific', 'viet Nam', 'Wine', '0'],
       ['1900', 'wester pacific', 'viet Nam', 'Wine', '0'],
       ['1977', 'wester pacific', 'viet Nam', 'Wine', '0']], dtype='<U14')

ndarray.shape

In [17]:
vector = np.array([1, 2 ,3, 4])
print(vector.shape)

(4,)

In [18]:
matrix = np.array([[5, 10, 15],[20, 25, 23]])
print(matrix.shape)

(2, 3)

In [19]:
vector = np.array([10, 20, 30])
matrix = np.array([[5, 10, 15], [20, 25, 30], [35, 40, 45]])

In [20]:
print(vector.shape)
print(matrix.shape)

(3,)
(3, 3)

## Lire un dataset avec Numpy

In [21]:
# fonction numpy pour lire un dataset : numpy.genfromtxt()

In [22]:
import numpy as np
world_alcohol = np.genfromtxt("world_alcohol.csv", delimiter = ",")
print(type(world_alcohol))

<class 'numpy.ndarray'>

# Les types de données avec Numpy

In [23]:
# bool  -->  true ou false

In [24]:
# int --> integer

In [25]:
# float

In [26]:
# string

In [27]:
numbers = np.array([1, 2, 3, 4])

In [28]:
numbers.dtype

dtype('int32')

In [29]:
world_alcohol_dtype = world_alcohol.dtype
print(world_alcohol_dtype)

float64

# Afficher les données correctement

In [30]:
world_alcohol = np.genfromtxt("world_alcohol.csv", delimiter=",", dtype = "U75", skip_header = 1)
world_alcohol

array([['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'],
       ['1986', 'Americas', 'Uruguay', 'Other', '0.5'],
       ['1985', 'Africa', "Cte d'Ivoire", 'Wine', '1.62'],
       ...,
       ['1986', 'Europe', 'Switzerland', 'Spirits', '2.54'],
       ['1987', 'Western Pacific', 'Papua New Guinea', 'Other', '0'],
       ['1986', 'Africa', 'Swaziland', 'Other', '5.15']], dtype='<U75')

# Extraire une valeur depuis un tableau Numpy

In [31]:
countries = world_alcohol[:,2]

In [32]:
print(countries)

['Viet Nam' 'Uruguay' "Cte d'Ivoire" ... 'Switzerland' 'Papua New Guinea'
 'Swaziland']

In [34]:
alcohol_drinks = world_alcohol[:,4]

In [35]:
print(alcohol_drinks)

['0' '0.5' '1.62' ... '2.54' '0' '5.15']

# Extraire une valeur depuis un tableau numpy

In [38]:
matrix = np.array([[5,10,15],[20,25,30],[35,40,45]])

In [39]:
matrix

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [ ]:
matrix[:,0,2]